body 


{background-image: url("https://pbs.twimg.com/profile_images/415882880351342592/NRDpz1Xh.jpeg");
  width:540px;height:540px;
}
  
  .container {
   text-align:center;
   width:540px;
   height:960px;
     }





