body 

  
  .container {
   text-align:center;
   width:600px;
   height:960px;
   
  background-image: url("https://pbs.twimg.com/profile_images/415882880351342592/NRDpz1Xh.jpeg");
  background-repeat:no-repeat;
  background position:center center;
  }
     





